<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/306d0ced-b01e-4734-8137-54fa2ec6e8e1/resourceGroups/natafa/providers/Microsoft.ContainerRegistry/registries/natafaapi</ResourceId>
    <ResourceName>natafaapi</ResourceName>
    <ResourceGroup>natafa</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://natafaapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8b1b5a18-1729-43bd-b45e-072e24d5ff7d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>